<h1>Vehicle Management</h1>

<%- messages() %>

<p>Use the links below to manage your inventory:</p>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>